:host {
  --flag-height: 15px;
  --flag-width: 21px;
}

.compare {
  display: flex;
  gap: 0.5rem;
}

.img-container {
  flex-grow: 1;

  img {
    height: 15px;
    display: block;
  }
}

::ng-deep .angular-flagkit ngx-flag {
  display: inline;
  --ngx-flag-height: var(--flag-height);
  --ngx-flag-width: var(--flag-width);
}
