:host {
  --flag-height: 50px;
  --flag-width: 70px;
}

.flag-comparison {
  display: grid;
  grid-template-columns: 150px 40px repeat(5, 120px);
  row-gap: 1em;
}

.img-container {
  flex-grow: 1;

  img {
    height: 50px;
    display: block;
  }
}

::ng-deep .angular-flagkit ngx-flag {
  display: inline;
  --ngx-flag-height: var(--flag-height);
  --ngx-flag-width: var(--flag-width);
}

.country-name {
  font-size: 0.875rem;
}

.iso-code {
  font-weight: bold;
}
