<div class="flag-comparison">
  @for (country of countries; track country.alpha2) {
    <div class="country-name">
      <span>{{ country.name }}</span>
    </div>
    <div class="iso-code">
      <code>{{ country.alpha2 }}</code>
    </div>

    <div class="angular-flagkit">
      <ngx-flag [name]="flagLookup[country.alpha2]"></ngx-flag>
      <div>{{ getFlagSize(flagLookup[country.alpha2]) | bytes }}</div>
    </div>
    <div class="img-container">
      <app-image-with-size>
        <img
          appImageSize
          [src]="urlBuilder['country-flag-icons'](country.alpha2)"
          [alt]="country.name"
          fallbackUrl="assets/fallback-flag.svg"
        />
      </app-image-with-size>
    </div>
    <div class="img-container">
      <app-image-with-size>
        <img
          appImageSize
          [src]="urlBuilder['flagpack-core'](country.alpha2)"
          [alt]="country.name"
          fallbackUrl="assets/fallback-flag.svg"
        />
      </app-image-with-size>
    </div>
    <div class="img-container">
      <app-image-with-size>
        <img
          appImageSize
          [src]="urlBuilder['svg-country-flags'](country.alpha2)"
          [alt]="country.name"
          fallbackUrl="assets/fallback-flag.svg"
        />
      </app-image-with-size>
    </div>
    <div class="img-container">
      <app-image-with-size>
        <img
          appImageSize
          [src]="urlBuilder['flag-icons'](country.alpha2)"
          [alt]="country.name"
          fallbackUrl="assets/fallback-flag.svg"
        />
      </app-image-with-size>
    </div>
  }
</div>
