<div class="preview">
  <div class="preview-title">
    <span>{{ flagPreview.title }}</span>
  </div>
  <div class="flag-container">
    <ngx-flag
      aria-hidden="false"
      [ariaLabel]="flagPreview.title"
      [name]="flagPreview.flagName"
      [title]="flagPreview.flagName"
    ></ngx-flag>
  </div>
  <div class="flag-name">
    @if (flagPreview.flagName) {
    <code>{{ flagPreview.flagName }}</code>
    } @else {
    <span class="no-flag">not supported (fallback flag)</span>
    }
  </div>
</div>
